{% load staticfiles %}

{% load extratags %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>

{% include "navbar.html" with properties=properties%}

<script type="text/javascript">
  $(document).ready(function() {
    $("#submit-button").click(function(){
      var people = [];
      var csrftoken = $.cookie('csrftoken');
      $.each($("input[name='check']:checked"), function(){
        people.push($(this).parent().siblings("#SIN").text());
      });
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      });
      $.ajax({
        url: "/simpleMilitary/adminOperations", // the endpoint
        type: "POST", // http method
        data: {selected: people, },
        success: function(json) {
          $.each($("input[name='check']:checked"), function(){
            $(this).parent().parent().remove();
          });
        },
        error: function() {
          console.log("ERROR");
        }
      });
    });
  });
</script>

<div class="container content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Personnel To Veterans</a></li>
        <button type="submit" id="submit-button" class="pull-right btn btn-primary">Move selected to Veterans</button>

      </ul>
      <form role="form" method="POST">
        {% csrf_token %}
          <table class="table table-bordered table-responsive" style="white-space: normal;" >
            <thead>
              <tr>
                <th>Name</th>
                <th>SIN</th>
                <th style="width: 30px"><span class="glyphicon glyphicon-arrow-right" style="margin:6px; display:table;"></span></th>
              </tr>
              {% for p in personnel %}
              <tr>
                <td id="fullname" class="center text-centering">{{ p.psin.fname }} {{ p.psin.lname }}</td>
                <td id="SIN" class="center text-centering">{{ p.psin.sin }}</td>
                <td class="center text-centering"><input name="check" style="margin:6px; display:table;" type="checkbox"></td>
              </tr>
              {% endfor %}
            </thead>
          </table>
      </form>
    </div>
  </div>
</div>