{% load staticfiles %}

{% load extratags %}
<script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"/>

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/>
<script type="text/javascript" src={% static '/static/js/bootstrap.min.js' %}></script>
 --><script src="/static/js/main.js"></script>
<form method="POST" id="post-form">
    {% csrf_token %}
    <div class="fieldWrapper" id="the_post">
        HI!
    </div>
    <div id="results"></div> <!-- errors go here -->
    <input type="submit" value="Post" class="tiny button">
</form>
