{% load staticfiles %}

{% load extratags %}

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-dialog.css"/>
<style type="text/css">
.background {
  /* css needed to scale image that fills background
     reuse this
  */
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  height: auto;
  overflow: hidden;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  position: fixed;
  background: url("/static/imgs/hero_scuba.jpg") no-repeat center center fixed;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
  z-index:10;
  position:relative;
}
.detail-table {
    table-layout: fixed;
    word-wrap: break-word;
    overflow: auto;
}


</style>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Admin Operations | Canadian Military</title>
<body>
<div class="background"></div>
<div class="text-center content">
{% include "navbar.html" with properties=properties %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div id="result"></div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Personnel To Veterans</a></li>
        <button type="submit" id="submit-button" class="pull-right btn btn-primary">Move selected to Veterans</button>
      </ul>
      <form role="form" method="POST">
        {% csrf_token %}
          <table class="table table-bordered table-responsive" style="white-space: normal; background: #FFF;" >
            <thead>
              <tr>
                <th>Name</th>
                <th>SIN</th>
                <th style="width: 30px"><span class="glyphicon glyphicon-arrow-right" style="margin:6px; display:table;"></span></th>
              </tr>
              {% for p in personnel %}
              <tr>
                <td id="fullname" class="center text-centering">{{ p.psin.fname }} {{ p.psin.lname }}</td>
                <td id="SIN" class="center text-centering">{{ p.psin.sin }}</td>
                <td class="center text-centering"><input name="check" style="margin:6px; display:table;" type="checkbox"></td>
              </tr>
              {% endfor %}
            </thead>
          </table>
      </form>
    </div>
  </div>
</div>
</div>
</body>
<script type="text/javascript" src={% static '/static/js/bootstrap-dialog.js' %}></script>
<script type="text/javascript">
  $(document).ready(function() {
    // $("#loading").hide();
    $("#submit-button").click(function(){
      BootstrapDialog.show({
          title: 'Personnel being moved to Veterans',
          message: 'Moving Records...',
          closable: false,
      });
      var people = [];
      var csrftoken = $.cookie('csrftoken');
      $.each($("input[name='check']:checked"), function(){
        people.push($(this).parent().siblings("#SIN").text());
      });
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      });
      $.ajax({
        url: "/simpleMilitary/adminOperations", // the endpoint
        type: "POST", // http method
        data: {selected: people},
        success: function(json) {
          $.each($("input[name='check']:checked"), function(){
            $(this).parent().parent().remove();
          });
          $.each(json, function(key, value) {
            var valueS = JSON.stringify(value);
            console.log(valueS);
            if ( valueS == "[\"-1\"]") {
              $("#result").html("No personnel selected to move!");
              $("#result").removeClass().addClass("alert alert-warning");
            }
            else {
              $("#result").html("Moved " + value + " to Veterans");
              $("#result").removeClass().addClass("alert alert-info");
            };
            BootstrapDialog.closeAll();
          });
        },
        error: function() {
            BootstrapDialog.closeAll();
            $("#result").html("Error moving personnel to Veterans!");
            $("#result").removeClass().addClass("alert alert-danger");
        }
      });
    });
  });
</script>