{% load staticfiles %}

{% load extratags %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/>
<script type="text/javascript" src={% static '/static/js/bootstrap.min.js' %}></script>
<div class="container text-center" style="padding-top: 50px">
    <div class="panel panel-primary">
        <div class="panel-heading" ><h3>Register your SIN to gain access to you personal information</h3></div>
            <div class="row" style="margin: 15px">
                <form role="form" method="POST" action="">
                    {% csrf_token %}
                    <div class="col-lg-6 centering">
                        <div class="form-group">
                            <label for="username">SIN</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter SIN" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span>   Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span>   Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Password (again)" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span>   Required</span>
                            </div>
                        </div>
                        <input type="submit" name="submit" id="submit" value="Register" class="btn btn-primary pull-center">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>