{% load staticfiles %}

{% load extratags %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>

{% include "navbar.html" with properties=properties%}

<style type="text/css">
.background {
  /* css needed to scale image that fills background
     reuse this
  */
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  height: auto;
  overflow: hidden;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  position: fixed;
  background: url("/static/imgs/hero_tank.jpg") no-repeat center center fixed;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
  z-index:10;
  position:relative;
}
.detail-table {
    table-layout: fixed;
    word-wrap: break-word;
    overflow: auto;
}


</style>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Personnel Details </title>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="background"></div>
<div class="text-center content">
  <div class="container">
    <div class="panel panel-primary" style="margin: 10px">
      <div class="panel-heading"><h3>{{ personnel.psin.fname }} {{ personnel.psin.lname }}</h3></div>
      <div class="row" style="margin: 10px; padding-top: 10px">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">Personal Information </div>
            <table class="table table-bordered table-responsive detail-table" style="white-space: normal;" >
              <thead>
                <tr><th>SIN</th><td>{{ personnel.psin.sin }}</td></tr>
                <tr><th>Address</th><td>{{ personnel.psin.address }}</td></tr>
                <tr><th>Birthday</th><td>{{ personnel.psin.bdate }}</td></tr>
                <tr><th>Enlisted on</th><td>{{ personnel.psin.enlist_date }}</td></tr>
                <tr><th>Rank</th><td>{{ personnel.rank }}</td></tr>
                <tr><th>Base</th><td>{{ personnel.uid.bid.bname }}</td></tr>
                <tr><th>Unit</th><td>{{ personnel.uid.uname }}</td></tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Authorized to use</div>
            <table class="table table-bordered table-responsive detail-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                </tr>
                {% for weapon in weapons %}
                <tr>
                  <td> {{ weapon.serialno.ename }} </td>
                  <td> {{ weapon.serialno.type }} </td>
                </tr>
                {% endfor %}
              </thead>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Awards</div>
            <ul class="list-group">
              {% for award in awards %}
              <li class="list-group-item">{{ award.code.aname }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

