{% load staticfiles %}

{% include "navbar.html" with properties=properties%}

<style type="text/css">

form[role=login] {
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
  form[role=login] > div {
    margin: 10px;
  }
  form[role=login] #submit {
    font-size: 14px;
    margin: 0 10px;
  }

</style>
<title>Login to the Canadian Military</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf-8">
<div class="container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section>
        {% if state %}
        <div class="alert alert-danger text-center">
          {{ state }}
        </div>
        {% endif %}
        <form role="login" method="POST" action="">
          {% csrf_token %}
            <h2  class="text-center">The Canadian Military</h2>
              <div class="form-group">
                  <label for="InputUsername">Username</label>
                      <input type="text" class="form-control input" name="username" id="username" placeholder="Username or SIN">
              </div>
              <div class="form-group">
                  <label for="InputEmail">Password</label>
                      <input type="password" class="form-control input" id="password" name="password" placeholder="Password">
              </div>
          <input type="submit" name="submit" id="submit" value="Login" class="btn btn-primary pull-right">
          <div>
            <a href="/accounts/register/">Register</a>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
